.bg {
    background-image: url("../../../assets/undraw_server_down_s-4-lk.svg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }