<div class="container">
  <mat-tab-group
    [disableRipple]="false"
    mat-align-tabs="center"
    style="margin-top: 50px"
  >
    <mat-tab label="Registered Users">
      <table mdbTable class="z-depth-1" small="true" hover="true">
        <thead>
          <tr>
            <th *ngFor="let head of displayedColumns" scope="col">
              {{ head }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="UsersList.length===0">
          <tr>
            <td align="center" colspan="6"> No data found</td>
          </tr>
        </tbody>
        <tbody hover="true" *ngIf="UsersList.length>0">
          <tr *ngFor="let element of UsersList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ element.userName }}</td>
            <td>{{ element.userFirstName }} {{ element.userLastName }}</td>
            <td>{{ element.email }}</td>
            <td>{{ element.phone }}</td>
            <td>{{ element.enabled ? "Active" : "Blocked" }}</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
